<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset=""UFT-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Proyecto Social Bionico</title>
        <link rel="stylesheet" href="./estilos.css">
        <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
        <link href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    </head>
    <body>
        <header class="header" id="inicio">
            <img src="./img/menu.svg" alt="" class="menu">
            <nav class="menu-navegacion">
                <a href="#inicio">Inicio</a>
                <a href="#servicio">Servicio</a>
                <a href="#valores">Valores</a>
                <a href="#galeria">Galeria</a>
                <a href="#expertos">Expertos</a>
                <a href="#contacto">Contacto</a>
            </nav>
            <div class="contenedor head">
                <h1 class="titulo"> Programa Social Biónico </h1>
                <p class="copy">"Vivir bien, para sentirse bien".</p>
            </div>
            <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #fff;"></path></svg></div>
            </header>
            <main>

                <section class="contenedor">
                    <h2 class="subtitulo">Malformaciones congénitas</h2>
                    <br></br>
                    <div class="contenedor-gale">
                        <img src="img/m.jpeg" alt="">
                     <div class="pro-gale">
                      <div class="gale">
                       <p class="pa">Las malformaciones congénitas (MC), tambien denominadas defectos al nacimiento o anomalías congénitas, son alteraciones
                        estructurales y funcionales que ocurren durante la vida intrauterina y pueden identificarse en la etapa prenatal, al nacimiento o en la
                        vida tardía.</p> 
                        <br></br>
                       <p class="pa">Estas anomalías son atendidas de acuerdo a las enfermedades que se presenten en cada uno de los pacientes, ya que pueden ser de
                        diferente índole, como estructurales, estéticas, cardíacas, etc. En en el caso de las MC de tipo físicas o estructurales, se implementan
                        distintos tipos de prótesis tanto estéticas, mecánicas, eléctricas, mioeléctricas, neumáticas, híbridas o biónicas, cada una de estas con
                        diferentes características.</p>
                        <br></br>
                     </div>
                    </div>
                </div>
                </section>

                <section class="contenedor" id="servicio">   
                    <h2 class="subtitulo">Nuestro servicio</h2>
                    <br></br>
                    <div class="contenedor-servicio">
                       <img src="/img/serr.jpeg" alt=""> 
                       <div class="pro-servicio">
                        <div class="service">
                            <h3 class="n-service"><span class="number">1</span>Programa social</h3>
                            <p class="pa">Acoplado a una fundación de bienestar social para el desarrollo de dispositivos biónicos con control programable en aplicación de prótesis medicas - ergonómicas en solución a malformaciones congénitas y/o ausencia de extremidades, con especial atención a personas con recursos económicos bajos.</p>    
                        </div>
                        <div class="service">
                            <h3 class="n-service"><span class="number">2</span>Ayudar</h3>
                            <p class="pa">Al sector mencionado, a nivel regional y nacional, con escabilidad internacional con el complemento de instituciones médicas globales y/o 
                                fundaciones del mismo rubro.</p>    
                        </div>
                        <div class="service">
                            <h3 class="n-service"><span class="number">3</span>Mejorar</h3>
                            <p class="pa">La calidad de vida que llevan los pacientes con MC, para que puedan realizar actividades de la vida cotidiana como la manipulación de objetos básicos, además al ser un elemento biónico se cumpliría con el requisito de ser ergonómico en relación a la anatomía humana 
                                del cuerpo.</p>    
                        </div>
                       </div>
                    </div>

                    <section class="contenedor" id="valores">   
                        <h2 class="subtitulo">Valores</h2>
                        <br></br>
                        <div class="contenedor-servicio">
                           <img src="img/valores.jpeg" alt=""> 
                           <div class="pro-servicio">
                            <div class="service">
                                <h3 class="n-service"><span class="number">1</span>Estilo de vida</h3>
                                <p class="pa">Indistinta, pero con especial atención a personas de bajos recursos económicos.</p>    
                            </div>
                            <div class="service">
                                <h3 class="n-service"><span class="number">2</span>Valores</h3>
                                <p class="pa">Solidaridad y empatía con las personas de capacidades especiales relacionadas con las MC.</p>    
                            </div>
                            <div class="service">
                                <h3 class="n-service"><span class="number">3</span>Actitudes</h3>
                                <p class="pa">Se busca que las personas consideradas como potenciales clientes sean optimistas y colaborativas para el
                                    mejoramiento de las prótesis.</p>    
                            </div>
                            <div class="service">
                                <h3 class="n-service"><span class="number">4</span>Motivaciones</h3>
                                <p class="pa">Los clientes deberán tener acciones altruistas y de voluntariado.</p>    
                            </div>
                           </div>
                        </div>    

                <section class="gallery" id="galeria">
                    <div class="contenedor">
                        <h2 class="subtitulo">Galeria</h2>
                        <br></br>
                        <div class="contenedor-galeria">
                            <img src="img/imagen1.png" alt="" class="img-galeria">
                            <img src="img/imagen2.jpeg" alt="" class="img-galeria">
                            <img src="img/imagen3.jpeg" alt="" class="img-galeria">
                            <img src="img/imagen4.jpeg" alt="" class="img-galeria"> 
                            <img src="img/imagen7.jpeg" alt="" class="img-galeria"> 
                            <img src="img/imagen10.jpeg" alt="" class="img-galeria">
                        </div>
                    </div>
                </section>
                <section class="imagen-light">
                    <img src="img/close.svg" alt="" class="close">
                    <img src="img/imagen5.jpeg" alt="" class="agregar-imagen">
                </section>

                <section class="contenedor" id="expertos">
                    <h2 class="subtitulo">Desarrolladores en:</h2>
                    <br></br>
                    <p class="pa">Desarrollo y comercialización de dispositivos biónicos, médicos - ergonómicos mediante el uso del software de dibujo asistido por computadora y tecnología aditiva de impresión 3D.</p>
                    <br></br>
                    <section class="experts">
                        <div class="cont-expert">
                            <img src="img/imagen6.jpeg" alt="">
                        </div>
                        <div class="cont-expert">
                            <img src="img/imagen8.jpeg" alt="">
                            <h3 class="n-expert">Diseño 3D</h3>
                        </div>
                        <div class="cont-expert">
                            <img src="img/prote.jpg" alt="">
                            <h3 class="n-expert">impresión 3D</h3>
                        </div>
                        <div class="cont-expert">
                            <img src="img/imagen9.jpeg" alt="">
                            <h3 class="n-expert">Dispositivos biónicos</h3>
                        </div>
                    </section>
                    <div>
                        <a href="/formulario.html" class="button">Formulario</a>
                    </div>
                </section>
            </main>
            <footer id="contacto">
                <div class="contenedor footer-content">
                    <div class="contact-us">
                        <h2 class="brand">Equipo Social</h2>
                        <p class="par">Somos expertos en la creación de tus sueños</p>
                        <br></br>
                        <img src="img/TECNM.png" alt="" class="contact-us-img"/>
                        <img src="img/innovaos.png" alt="" class="contact-us-imge"/>
                    </div>
                    <div class="social-media">
                        <h2 class="subtitulo1">Contactanos en:</h2>

                        <a href="https://www.facebook.com/profile.php?id=100010144327564" class="social-media-icon">
                            <i class='bx bxl-facebook' style='color:rgb(66, 63, 203)'  ></i>
                        </a>
                        <a href="https://twitter.com/JoshuaG74319024?fbclid=IwAR23MPR0LwVnv3Wd1li3AZIPIQvETANf_OOUdU5dUrMz75FVFvPFQ3BFS0E" class="social-media-icon">
                            <i class='bx bxl-twitter' style='color:rgb(12, 110, 167)'></i>
                        </a>
                        <a href="https://www.instagram.com/Joshua20920/?fbclid=IwAR20-xiuqC3XvwtjasCMmry_g4llepDpBe4Prg6H1XjLfQZuI2mAvMGKdJ8" class="social-media-icon">
                            <i class='bx bxl-instagram' style='color:rgb(177, 9, 187)'  ></i>
                        </a>
                    </div>
                </div>
                <div class="line"></div>
            </footer>




    <script src="./js/menu.js"></script>
    <script src="./js/lightbox.js"></script>
    </body>
</html>